@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--==========================
  Hero Section
============================-->
<section id="hero">
    <div class="hero-container">
        <h1>Welcome to <span style="color: #47D45A;">Bintainer</span></h1>
        <h2><i>Efficiently Manage Your Lab, Smartly Navigate Success</i></h2>
    </div>
</section>
