@page
@model Bintainer.WebApp.Pages.PartModel
@{
}
<link rel="stylesheet" href="./css/hierarchy-select.min.css">
<link rel="stylesheet" href="./css/autocomplete.css">


<div class="container">
    <div class="row">
        <div class="col-md-9">
            <form class="well form-horizontal" method="post">
                <fieldset>
                    <legend><h2>Part</h2></legend>                    
                    <div class="form-group">
                        <label class="col-md-2 control-label align-items-start">Part Name</label>
                        <div class="col-md-4">
                            <div class=" inputGroupContainer">
                                <div class="input-group"><input id="partName" name="partName" placeholder="Part Name" class="form-control" required="true" value="" type="text"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label align-items-start">Description</label>
                        <div class="col-md-4">
                            <div class=" inputGroupContainer">
                                <div class="input-group"><input id="description" name="description" placeholder="Description" class="form-control" required="true" value="" type="text"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label align-items-start">Label</label>
                        <div class="col-md-4">
                            <div class=" inputGroupContainer">
                                <div class="input-group"><input id="label" name="label" placeholder="Label" class="form-control" value="" type="text"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label align-items-start">Package</label>
                        <div class="col-md-4">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <input class="form-control autocomplete-input" data-source='["Resistor","Capacitor"]' type="text" name="category" placeholder="Category">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label align-items-start">Category</label>
                        <div class="col-md-4">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <input class="form-control autocomplete-input" data-source='["Resistor","Capacitor"]' type="text" name="category" placeholder="Category" />
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <label class="col-md-2 control-label align-items-start">Group</label>
                        <div class="col-md-4">
                            <div class="inputGroupContainer">
                                <div class="input-group">
                                    <input class="form-control autocomplete-input" data-source='["Usb","Ethernet","Can-bus"]' type="text" name="Group" placeholder="Group">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label align-items-start">Keywords</label>
                        <div class="col-md-4">
                            <div class=" inputGroupContainer">
                                <div class="input-group"><input id="keyWords" name="keyWords" placeholder="Keywords" class="form-control" value="" type="text"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend><h2>Attributes</h2></legend>                    
                    <div class="button-row">
                        <button class="btn btn-primary me-2 ms-2" id="addAttribute" target-table="attributeTable">Add Row</button>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Load template
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                @foreach (var item in Model.DropdownModel.Items)
                                {
                                    <li><a class="dropdown-item" href="#">@item</a></li>
                                }
                            </ul>
                        </div>
                    </div>                    
                    <table class="table" id="attributeTable">
                        <thead>
                            <tr>
                                <th>Product Attribute</th>
                                <th>Attribute Value</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="productSpecTable"></tbody>
                    </table>
                </fieldset>
                <fieldset>
                    <legend><h2>Suppliers</h2></legend>
                    <div class="button-row">
                        <button class="btn btn-primary me-2 ms-2" id="addSupplier" target-table="supplierTable">Add Row</button>
                    </div>
                    <table class="table" id="supplierTable">
                        <thead>
                            <tr>
                                <th>Supplier</th>
                                <th>Part Number</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="supplierPartNumberTable"></tbody>
                    </table>
                </fieldset>  

                <div class="text-right">
                    <button type="button" class="btn btn-danger">Cancel</button>
                    <button type="button" class="btn btn-success">Create</button>
                </div>
            </form>                      
        </div>
        <div class="col-md-3">
            <div class="card card-custom">
                <button type="button" class="btn btn-secondary">Part</button>
                <img src="./image/microchip.png" class="img-fluid" alt="part image"/>
            </div>
            <div class="card card-custom">
                <button type="button" class="btn btn-secondary">Footprint</button>
                <img src="./image/pinout.png" class="img-fluid" alt="footpring" />
            </div>            
        </div>
    </div>
</div>

<script type="text/template" id="tr_template">
    <td class="dtable-col1"></td>
    <td class="dtable-col2"></td>
    <td><a data-mode='edit' class="action" href="javascript:void(0)">edit</a></td>
    <td><a class="delete" href="javascript:void(0)">delete</a></td>
</script> 

<script type="text/javascript">
    $(document).ready(function () {
        $('#addAttribute').on('click', function () {
            var targetTableId = $(this).attr('target-table'); // Get the ID from the target-table attribute
            var table = $('#' + targetTableId); // Select the table using the ID
            if (table.length) { // Check if the table exists
                appendRowToTable(table); // Call the function with the table jQuery object
            } else {
                console.error('Table with ID "' + targetTableId + '" not found.');
            }
        });
        $('#addSupplier').on('click', function () {
            var targetTableId = $(this).attr('target-table'); // Get the ID from the target-table attribute
            var table = $('#' + targetTableId); // Select the table using the ID
            if (table.length) { // Check if the table exists
                appendRowToTable(table); // Call the function with the table jQuery object
            } else {
                console.error('Table with ID "' + targetTableId + '" not found.');
            }
        });

        var dropdownItems = document.querySelectorAll('.dropdown-item');
        var dropdownButton = document.getElementById('dropdownMenuButton1');

        dropdownItems.forEach(function (item) {
            item.addEventListener('click', function (e) {
                e.preventDefault();
                dropdownButton.textContent = this.textContent;
                dropdownButton.focus();
            });
        });

    });
</script>

