@page
@model Bintainer.WebApp.Pages.PartModel
@{
}
<link rel="stylesheet" href="./css/hierarchy-select.min.css">

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <form class="well form-horizontal" method="post">
                <fieldset>
                    <legend><h2>Part</h2></legend>
                    <div class="form-group">
                        <label class="col-md-2 control-label align-items-start">Part Name</label>
                        <div class="col-md-4">
                            <div class=" inputGroupContainer">
                                <div class="input-group"><input id="partName" name="partName" placeholder="Part Name" class="form-control" required="true" value="" type="text"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label align-items-start">Description</label>
                        <div class="col-md-4">
                            <div class=" inputGroupContainer">
                                <div class="input-group"><input id="description" name="description" placeholder="Description" class="form-control" required="true" value="" type="text"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label align-items-start">Label</label>
                        <div class="col-md-4">
                            <div class=" inputGroupContainer">
                                <div class="input-group"><input id="label" name="label" placeholder="Label" class="form-control" value="" type="text"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label align-items-start">Package</label>
                        <div class="col-md-4">
                            <select class="form-control" id="package">
                                <option class="hidden" selected disabled>Package</option>
                                <option>What is your Birthdate?</option>
                                <option>What is Your old Phone Number</option>
                                <option>What is your Pet Name?</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label align-items-start">Category</label>
                        <div class="col-md-4">
                            <select class="form-control" id="category">
                                <option class="hidden" selected disabled>Category</option>
                                <option>What is your Birthdate?</option>
                                <option>What is Your old Phone Number</option>
                                <option>What is your Pet Name?</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label align-items-start">Group</label>
                        <div class="col-md-4">
                            <select class="form-control" id="group">
                                <option class="hidden" selected disabled>Group</option>
                                <option>USB</option>
                                <option>Ethernet</option>
                                <option>CAN-Bus</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend><h2>Attributes</h2></legend>
                    
                    <div class="button-row">
                        <button class="btn btn-primary me-2 ms-2" id="addRow">Add Row</button>
                        <div class="dropdown me-2 ms-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Load template
                            </button>
                            <ul class="dropdown-menu pt-0" aria-labelledby="dropdownMenuButton1">
                                <input type="text" class="form-control border-0 border-bottom shadow-none mb-2" placeholder="Search..." oninput="handleInput()">
                            </ul>
                        </div>
                    </div>

                    
                    <table class="table" style="width: 500px">
                        <thead>
                            <tr>
                                <th>Product Attribute</th>
                                <th>Attribute Value</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="productSpecTable"></tbody>
                    </table>
                </fieldset>
            
            </form>                      
        </div>


        <div class="col-md-3">
            <div class="card">
                <img src="./image/microchip.png" class="card-img-top">
            </div>
            <div class="card">
                <img src="./image/pinout.png" class="img-fluid" alt=" footpring" />
            </div>            
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="./js/searchabledropdown.js"></script>
<script type="text/template" id="tr_tmpl">
    <td class="productAttribute">1</td>
    <td class="attributeValue">Jill</td>
    <td><a data-mode='edit' class="action" href="javascript:void(0)">edit</a></td>
    <td><a class="delete" href="javascript:void(0)">delete</a></td>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#addRow').on('click', function () {
            var trHtml = $('#tr_tmpl').html();
            var tr = $('<tr>' + trHtml + '</tr>');
            $('#productSpecTable').append(tr);

            tr.find('a.delete').on('click', function () {
                tr.remove();
                reIndex();
            });

            reIndex();

            function reIndex() {
                var rows = $('tbody tr');
                rows.each(function (i, row) {
                    $(row).find('.userId').html(i + 1);
                });
            }

            var action = $(tr).find('.action');

            action.on('click', function () {
                onActionHandler();
            })

            function onActionHandler() {
                var productAttribute = $(tr).find('.productAttribute');
                var attributeValue = $(tr).find('.attributeValue');
                var mode = action.attr('data-mode');
                if (mode == 'update') {
                    action.attr('data-mode', 'edit');
                    action.text('edit');

                    // update product attribute
                    productAttribute.text($(tr).find('.productAttribute input').val());

                    // update attribute value
                    attributeValue.text($(tr).find('.attributeValue input').val());

                    // update state
                    //state.text($('select option:selected').text());
                }
                else {
                    action.attr('data-mode', 'update');
                    action.text('update');

                    //edit productAttribute
                    var productAttribute_val = productAttribute.text();
                    var productAttribute_input = productAttribute.html('<input type="text" value="' + productAttribute_val + '" />');

                    //edit attributeValue
                    var attributeValue_val = attributeValue.text();
                    var attributeValue_input = attributeValue.html('<input type="text" value="' + attributeValue_val + '" />');

                    $('select option:contains("' + state_val + '")').prop('selected', true);

                }
            }
        });

    });
</script>
