@page
@model PartsBinStockTool.WebApp.Pages.SetupModel
@{
}
<form>
    <div>
        <label>Component Name:</label>
        <input type="text" />
    </div>
    <div>
        <label>Box:</label>
        <input type="text" />
    </div>

    <div>
        <label>Group:</label>
        <input type="text" />
    </div>
    <div>
        <label>Tag:</label>
        <input type="text" />
    </div>
</form>

<form>
    <div>
        <label>Number of repository sections:</label>
        <input type="text" />
    </div>
    <div>
        <label>Number of boxes in each section:</label>
        <input type="text" />
    </div>
</form>