@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!--==========================
  About Us Section
============================-->
<!--==========================
  About Us Section
============================-->
<section id="about">
    <div class="container">
        <div class="row about-container">

            <div class="col-lg-6 content order-lg-1 order-2">
                <h2 class="title">About Bintainer</h2>
                <p>
                    With over a decade of experience in developing embedded systems,
                    we recognized the need for efficient inventory management. 
                    Our lab houses over 1000 components, spanning electronics, electrics, 
                    and mechanical parts. Bintainer is our solution, dedicated to 
                    enhancing efficiency and productivity in embedded systems development. 
                    It offers key features:
                </p>

                <div class="icon-box wow fadeInUp">
                    <div class="icon"><i class="fa fa-inbox"></i></div>
                    <h4 class="title"><a href="">Track Inventory</a></h4>
                    <p class="description">Order components before they reach low levels, ensuring smooth project workflow.</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon"><i class="fa fa-fast-forward"></i></div>
                    <h4 class="title"><a href="">Speed Up</a></h4>
                    <p class="description">Quickly locate components in bin hives to accelerate soldering tasks.</p>
                </div>

                <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon"><i class="fa fa-pencil"></i></div>
                    <h4 class="title"><a href="">Stay Updated</a></h4>
                    <p class="description">Track components from global suppliers and receive warnings about deprecated tools, ensuring your projects stay up-to-date with the latest components.</p>
                </div>

            </div>

            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
        </div>

    </div>
</section><!-- #about -->
