@page "/dashboard/category"
@model CategoryModel
@{
	Layout = "_DashboardLayout";
}
<div class="container">
	<div class="row">
		<h1> Define category treeview </h1>
		<div class="category-treeview">
		</div>
	</div>
	<div class="row">
		<div class="button-row align-items-end justify-content-end mt-5">
			<button type="button" class="btn btn-success">save</button>
		</div>

	</div>
</div>

<script>
	var data = [
		{
			title: "Warehouse",
			children: [
				{
					title: "Shelfs A",
					children: [
						{ title: "Shelf A1" },
						{ title: "Shelf A2" },
						{ title: "Shelf A3" },
						{ title: "Shelf A4" }
					]
				},
				{
					title: "Shelfs B",
					children: [
						{ title: "Shelf B1" },
						{ title: "Shelf B2" }
					]
				},
				{ title: "Ground" }
			]
		}
	];

	const myTree = new DinampTreeEditor('.category-treeview').setData(data);
</script>