@page "/dashboard/component"
@model ComponentModel
@{
	Layout = "_DashboardLayout";
}
@* <style>
	html, * {
		font-family: 'Inter';
		box-sizing: border-box;
	}

	body {
		background-color: #fafafa;
		line-height: 1.6;
	}

	.lead {
		font-size: 1.5rem;
		font-weight: 300;
	}

	.container {
		margin: 70px auto;
		max-width: 960px;
	}
</style>

<div>
    <form>
        <div>
            <label>Name</label>
            <input type="text" />
        </div>
		<div>
			<label>Description:</label>
			<input type="text" />
		</div>
		<div>
            <label>Category:</label>
            <input type="text" />
        </div>      
        <div>
            <button>Save</button>
            <button>Cancel</button>
        </div>        
    </form>
    <div>
		<table class="table table-bordered table-striped table-hover table-condensed  text-center" id="DyanmicTable">
			<thead>
				<tr>
					<th class="text-center">
						Full Name
					</th>
					<th class="text-center">
						WebSite
					</th>
					<th class="text-center">
						Contact No
					</th>
					<th class="text-center">
						<button id="addNewRow" class="btn btn-primary btn-sm">Add New Row</button>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						John M
					</td>
					<td>
						http://john-m.com
					</td>
					<td>
						9876543210
					</td>
				</tr>
				<tr>
					<td>
						Ariana Smith
					</td>
					<td>
						https://araiana-smith.com
					</td>
					<td>
						1234567890
					</td>
				</tr>
				<tr>
					<td>
						Silver Bourne
					</td>
					<td>
						https://silver-bourne.com
					</td>
					<td>
						988889888
					</td>
				</tr>
				<tr>
					<td>
						Rahul Ray
					</td>
					<td>
						https://rahul-ray.com
					</td>
					<td>
						9797979797
					</td>
				</tr>
			</tbody>
		</table>
    </div>
</div>


<div id="treeview"></div>

<script>
	$(function () {
		$('#treeview').jstree({
			'core': {
				'data': {
					'url': '/api/treeview/data'
				}
			}
		});
	});
</script>

<script src="~/js/bootstable.min.js"></script>
<script>
	$('#DyanmicTable').SetEditable({ $addButton: $('#addNewRow')});
</script> *@

<div class="container">
	<div class="row">
		<h1> Part category treeview </h1>
		<div class="category-treeview">
		</div>
	</div>
	<div class="row">
		<div class="button-row align-items-end justify-content-end mt-5">
			<button type="button" class="btn btn-success">save</button>
		</div>

	</div>
</div>

<script>
	var data = [
		{
			title: "Warehouse",
			children: [
				{
					title: "Shelfs A",
					children: [
						{ title: "Shelf A1" },
						{ title: "Shelf A2" },
						{ title: "Shelf A3" },
						{ title: "Shelf A4" }
					]
				},
				{
					title: "Shelfs B",
					children: [
						{ title: "Shelf B1" },
						{ title: "Shelf B2" }
					]
				},
				{ title: "Ground" }
			]
		}
	];

	const myTree = new DinampTreeEditor('.category-treeview').setData(data);
</script>