@page "/dashboard/index"
@model Index
@{
    Layout = "_DashboardLayout";
}

<div class="card mt-3">
    <div class="card-header">
        <h2>Welcome to Bintainer</h2>
    </div>
    <div class="card-body">
        Start with designn your inventory in <i>inventory</i>,
        put your parts in inventory in <i>part</i>
    </div>
    <div class="container">
        <h2>How to Get Started</h2>
        <hr />
        <img class="img-responsive" src="~/image/workflow-chart.png" class="img-fluid" alt="part image" style="max-width: 50%; height: auto;">
       <p>
            To begin, define your inventory using the Inventory tab. 
            You can create one inventory for your account, and within it, organize parts into segments, 
            like grouping all resistors in a "resistors" block. 
            Specify the dimensions and number of subsections for each bin in the inventory.
        </p>
        <p>
            Next, set up templates to organize your parts. There are two types of templates: 
            <b>Category</b> and <b>Attributes</b>.
        </p>
        <p>
            <b>Category Template</b>: This is a hierarchical structure that helps categorize parts. 
            For example, you might have a "Resistors" category, with "SMD" and "THT" as subcategories. 
            Similarly, capacitors can be organized by mounting type, power capacity, 
            or material, such as "High-Power," "Ceramic," "Tantalum," etc.
        </p>
        <p>
            <b>Attribute Template</b>: Each part has attributes (parameters) like manufacturer, voltage, material, etc. 
            The values may differ between parts, but the parameters stay the same.
            By defining an attribute template, you speed up part creation. This step is optional.
        </p>
        <p>
            To create a part, use the Part tab. Each part needs a unique name, description, and category. 
            You can add details like packaging or suppliers and even fetch part data using a DigiKey part number. 
            Parts can be grouped into logical categories, even if they aren't physically stored together. 
            For instance, all parts used in a USB module can be bundled into a single category, 
            regardless of their physical location.
        </p>
        <p>
            In the Arrange section, assign parts to bins. The <b>Order</b> section tracks when and how new parts 
            are added, helping you monitor your stock levels and reorder as needed.
        </p>
    </div>

</div>
@* <h3>Sign in to start application.</h3> *@