@page "/dashboard/index"
@model Index
@{
    Layout = "_DashboardLayout";
}

<div class="card mt-3">
    <div class="card-header">
        <h2>Welcome to Bintainer</h2>
    </div>
    <div class="card-body">
        Start with designn your inventory in <i>inventory</i>,
        put your parts in inventory in <i>part</i>

    </div>
</div>
@* <h3>Sign in to start application.</h3> *@