@page
@model InventoryModel
@{
}
<link rel="stylesheet" href="./css/hierarchy-select.min.css">
<link rel="stylesheet" href="./css/autocomplete.css">


<form id="form1" runat="server">
    <div class="container">
        <h2>Section List</h2>
        <table class="table" id="sectionlist">
            <thead>
                <tr>
                    <th style="width:fit-content">Section</th>
                    <th style="width:150px;">Horizontalbin</th>
                    <th style="width:150px;">Hight</th>
                    <th style="width:150px;">Bin subsections</th>
                </tr>
            </thead>
            <tbody>
                <tr class="inventory-subsection-list">
                    <td>
                        <input type="text" name="section-name" class="form-control " />
                    </td>
                    <td>
                        <input type="text" name="section-width" class="form-control " />
                    </td>
                    <td>
                        <input type="text" name="section-hight" class="form-control " />
                    </td>
                    <td>
                        <input type="text" name="bin-section" class="form-control " />
                    </td>
                    <td>
                        <button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd">Add More</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" id="btnSubmit" class="btn btn-primary btn-md pull-right btn-sm">Submit</button>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).on("click", ".classAdd", function () { //
            var rowCount = $('.inventory-subsection-list').length + 1;
            var contactdiv = '<tr class="inventory-subsection-list">' +
                '<td><input type="text" name="section-name' + rowCount + '" class="form-control" /></td>' +
                '<td><input type="text" name="section-width' + rowCount + '" class="form-control " /></td>' +
                '<td><input type="text" name="section-hight' + rowCount + '" class="form-control " /></td>' +
                '<td><input type="text" name="bin-section' + rowCount + '" class="form-control " /></td>' +
                '<td><button type="button" id="btnAdd" class="btn btn-xs btn-primary classAdd">Add More</button>' +
                '<button type="button" id="btnDelete" class="deleteContact btn btn btn-danger btn-xs">Remove</button></td>' +
                '</tr>';
            $('#sectionlist').append(contactdiv); // Adding these controls to Main table class
        });
    });
</script>
