@page
@model PartsBinStockTool.WebApp.Pages.ComponentModel
@{
}
<div>
    <form>
        <div>
            <label>Component Name:</label>
            <input type="text" />
        </div>
        <div>
            <label>Label:</label>
            <input type="text" />
        </div>
        <div>
            <label>Tag:</label>
            <input type="text" />
        </div>
        <div>
            <input type="button"/>Feature
        </div>
        <div>
            <button>Save</button>
            <button>Cancel</button>
        </div>
        
    </form>
    <div>
        <table>
            
            <tr>

            </tr>
        </table>
    </div>
</div>
